bcrypt
blinker
certifi
click
cloudinary
colorama
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-MySQLdb
Flask-Uploads
Flask-WTF
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
mysqlclient
packaging
passlib
protobuf
six
urllib3
Werkzeug
WTForms
