{% extends "layout.html" %}
{% block content %}
<div class="contact" style="width: 900px; height: auto; margin-left: 400px; margin-top: 50px;">
    <form action="/contact" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">


        <h1 style="text-align: center; justify-content: center ; align-items: center; font-weight: 900;">GET IN TOUCH</h1>
        <p style="text-align: center; justify-content: center ; align-items: center;"><i class="fa-solid fa-phone"></i> Phone: <span style="color: crimson;">+234 814 010 4671</span></p>
        <p style="text-align: center; justify-content: center ; align-items: center;"><i class="fa-solid fa-envelope"></i> Email: <span>kingsleydike348@gmail.com</span></p>
        <p style="text-align: center; justify-content: center ; align-items: center;"><i class="fa-solid fa-location-dot" style="color: rgb(88, 88, 246);"></i> Address: <span>4b Idowu Martins Victoria Island Lagos</span></p>
        <div class="first"  style="margin-left: 50px;">
            <label for="name">Name</label><br>
            <input type="text" name="name" placeholder="Name" required><br><br>
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" placeholder="Email"><br><br>
            <label for="subject">Subject</label><br>
            <input type="text" name="subject" id="subject" placeholder="Subject" required><br><br>
            <div class="second" style="margin-left: 400px; margin-top: -295px; height: 400px;">
                <label for="message">Message</label><br>
                <textarea name="message" id="message" cols="40" rows="10" style="border: 1px solid gainsboro; padding-left: 10px; border-radius: 10px;" required ></textarea>
            </div>
        </div>
        
        <button type="submit" style="position: absolute; top: 0; margin-top: 650px; margin-left: 360px; background-color: red; color: white; padding: 5px; border: none; border-radius: 5px;">SEND MESSAGE</button>
    </form>
</div>

<style>
    input{
        width: 350px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid gainsboro;
        padding-left: 10px;
    }
</style>
{% endblock %}
