{% extends "layout.html" %}

{% block content %}

    <div class="profile">
        
        <img src="{{ url_for('static', filename='/assets/img/update.jpg')}}" alt="" class="img1">


            <h2 style="font-weight: 800;">Update Profile</h2>

            <div class="profile-picture">
                        
                <img class="profile_pic" {% if current_user.profile_pic %} src="{{ current_user.profile_pic }}" {% else %} src="{{ url_for('static', filename='/assets/img/default.png') }}" {% endif %} alt="Profile Picture" class="rounded-circle article-img mt-4" id="display_picture" style="width: 120px; height: 120px; border-radius: 50%; cursor: pointer;">
                

            </div>
            <form action="/edit_user_profile" method="POST" enctype="multipart/form-data"  style="margin-top: 20px;">
                <input type="file" id="profilePicture" name="profile_pic" accept="image/*" class="d-none" value="{{ current_user.profile_pic }}">
                

            <p> <label>Name:</label><br> <input type="text" id="name" name="name"  value="{{ current_user.name }}"> </p>

            <p> <label>Email address:</label><br> <input type="email" placeholder=" Email" name="email"  value="{{ current_user.email }}"  > </p>

            <p> <label>Phone Number:</label> <br><input type="text" name="phone_number" placeholder="Phone" value="{{ current_user.phone_number }}"  > </p>
            
            <p> <label>Country<span>*</span></label> <br><input type="text" name="country" placeholder="Country" value="{{ current_user.country }}"> </p>

            <p> <label>State<span>*</span></label> <br><input type="text" name="state" id="state"  value="{{ current_user.state }}"   > </p>

            <p> <label>Local Government<span>*</span> <br></label><br> <input type="text" name="local_govt" id="local_govt"  value="{{ current_user.local_govt }}"> </p>

            <p><label>Address<span>*</span> <br><input class="address" type="text" name="address" placeholder="Present Address" id="" value="{{ current_user.address }}" ></label></p>
            <p> <input type="submit"  value="Update Profile" style="width: 300px; font-weight: 500; color: black; background-color: rgb(64, 64, 249);" class="submit" > </p>
        </form>
    </div>

    <style>
        .profile{
            /* border: 1px solid red; */
            width: 500px;
            margin-left: 1000px;
            padding-bottom: 100px;
            margin-top: 50px;
            font-family: poppins;
        }

        input{
            width: 300px;
            height: 50px;
            border: 1px solid gainsboro;
            border-radius: 10px;
            padding-left: 10px;
        }
        label{
            font-weight: 800;
        }
        .img1{
        width: 550px;
        height: 500px;
        position: fixed;
        margin-left: 200px;
        margin-top: 10px;
        left: 0;
        z-index: -1;
    }
    
    .submit:hover{
        background-color: crimson !important;
        color: white !important;
        transition: 0.3s ease !important;
    }


    @media (max-width: 768px) {
        .img1{
            display: none;
        }

        .profile{
            margin-top: 30px !important;
        margin-left: 0px;
        height: auto;
        margin-bottom: 50px;
        font-family: poppins;
        width: 100%;
        }

        .profile_pic{
        margin-left: 140px !important;
        width: 80px !important;
        height: 80px !important;
        margin-top: 10px;
        }

        input{
            width: 300px;
        height: 30px;
        border-radius: 5px;
        /* border: 0.5px thin rgb(77, 76, 76); */
        border: none;
        padding: 10px;
        background-color: whitesmoke;
        margin-left: 35px;
        font-size: 10px;
        }

        label{
        margin-left: 35px;
        font-size: 10px;
    }
    h2{
        text-align: center;
        align-items: center;
        font-size: 20px !important;
        font-weight: 700;
    }

    .address{
        margin-left: 0px !important;
    }

    .submit{
        padding-bottom: 30px !important;
        padding-top: -10px !important;
    }
    }
    </style>

<script>
    profile_icon = document.getElementById("display_picture");
    profile_upload = document.getElementById("profilePicture");

    profile_icon.addEventListener("click", function() {
        profile_upload.click();
    })
</script>
{% endblock content %}