{% extends "layout.html" %}

{% block content %}
<br><br>

<img src="{{ url_for('static', filename='/assets/img/flower.jpg')}}" alt="" class="img1">
<div class="sign_up">
            <h2>Login</h2><span class="serve" style="color: rgb(80, 112, 219);">To find service</span><br><br>
            
        <form action="{{ url_for('login_for_user') }}" method="POST">
                
            
            
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" required placeholder="Enter Email Address"><br><br>
            
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required placeholder="Enter Password"><br>
            <input  class="check" type="checkbox" id="showPasswordCheckbox" style="width: 15px; height: 15px; margin-top: 15px;">
            <label for="showPasswordCheckbox" class="pass">View Password</label><br><br>

            <a href="" class="link"  style="margin-top: 50px;">Forgot Password?</a>
            <br><br>
            
            <center>

            </center>
                
            <button type="submit">Login</button>
            <center>

                <strong><p>Don't have an account? <a href="{{ url_for('signup_user')}}" >Sign Up</a></p></strong>
                
                <p>Are you a service provider? <a href="{{ url_for('signup_worker')}}" >Sign Up</a></p>
            </center>
        </form>
    </div>

<style>

    .sign_up{
        margin-top: 100px;
        margin-left: 950px;
        height: auto;
        margin-bottom: 50px;
        font-family: poppins;
        
    }

    input{
        width: 350px;
        height: 40px;
        border-radius: 5px;
        /* border: 0.5px thin rgb(77, 76, 76); */
        border: none;
        padding: 10px;
        background-color: whitesmoke;
    }

    .terms{
        width: 300px;
        font-size: 7px;
        margin-right: 400px;
        margin-left: 25px;
    }

    button{
        width: 350px;
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        background-color: rgb(80, 112, 219);
        border: none;
        color: white;
    }

    p{
        width: 300px;
        font-size: 7px;
        margin-right: 400px;
        margin-top: 10px;
        margin-left: 25px;

    }

    .img1{
        width: 550px;
        height: 500px;
        position: absolute;
        margin-left: 200px;
        margin-top: 30px;
    }

    @media (max-width: 768px) {
        img{
            display: none;
        }

        .sign_up{
        width: 100% !important;
        margin-top: -50px;
        margin-left: 0px;
        height: auto;
        margin-bottom: 50px;
        font-family: poppins;
        }


        input{
        width: 300px;
        height: 30px;
        border-radius: 5px;
        /* border: 0.5px thin rgb(77, 76, 76); */
        border: none;
        padding: 10px;
        background-color: whitesmoke;
        margin-left: 35px;
        font-size: 10px;
    }

    label{
        margin-left: 35px;
        font-size: 10px;
    }

    .pass{
        margin-left: -00px !important;
        font-size: 10px !important;
    }

    .check{
        width: 10px !important;
        height: 10px !important;
    }

    h2{
        text-align: center;
        align-items: center;

    }

    .serve{
        text-align: center;
        align-items: center;
        margin-left: 130px !important;

    }

    .link{
        font-size: 10px !important;
        margin-left: 35px !important;
    }

    a{
        font-size: 10px !important;
    }

    button{
        width: 300px;
        height: 30px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px;
        border-radius: 5px;
        background-color: rgb(80, 112, 219);
        border: none;
        color: white;
        margin-left: 35px;
    }

    p{
        display: none;
    }

    }
</style>

<script>
    document.getElementById("showPasswordCheckbox").addEventListener("change", function() {
        var passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    });
    </script>
{% endblock content %}

