<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='/assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='/style.css') }}" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% if current_user.is_authenticated %}{{ url_for('user_index', user_id=current_user.id)}} {% else %}{{ url_for('home') }}{% endif %}" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='/assets/img/logo.png')}}" alt="">
        <span>ServiceHub
        </span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% if current_user.is_authenticated %}{{ url_for('user_index', user_id=current_user.id)}} {% else %}{{ url_for('home') }}{% endif %}">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
         
          {% if current_user.is_authenticated %}
          <!-- Show "Profile" link when logged in -->
          <li><a class="nav-link scrollto" href="{{ url_for('contact')}}">Contact</a></li>
          <li><a class="getstarted scrollto" href="{{ url_for('edit_user_profile') }}">Edit Profile</a></li>
          <p>{{ current_user.name }}</p>
          <a href="{{ url_for('logout') }}" class="nav-item nav-link">Logout</a>
          {% else %}
              <!-- Show "Login / SignUp" when not logged in -->
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <br><br>
  <!-- <br><br><br><br> -->

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock  content %}

    

    <section id="pricing" class="pricing m-auto" style="z-index: 9999;">

        <div class="container" data-aos="fade-up">
  
                <header class="section-header " style="margin-right: 300px;">
                    <h2>Pricing</h2>
                    <p>Check our Pricing</p>
                </header>
        
                <div class="row gy-4 price" data-aos="fade-left" >
                        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                        <div class="box">
                            <span class="featured">Featured</span>
                            <h3 style="color: #65c600;">Starter Plan</h3>
                            <div class="price"><sup><i class="fa-solid fa-naira-sign"></i></sup>10000<span> / mo</span></div>
                            <img src="assets/img/pricing-starter.png" class="img-fluid" alt="">
                            <ul style="font-size: 12px;">
                                
                                <span style="color: crimson; margin-top: 15px;">***</span><li>TRIAL PLAN</li>
                                <span style="color: crimson; margin-top: 15px;">***</span><li>Less Visibility</li>
                                <span style="color: crimson;">***</span><li>ONE TIME ACTIVATION PAYMENT</li>
                                <span style="color: crimson;">***</span><li>Reach Minimal Customers </li>
                                <span style="color: crimson;">***</span><li>PROFILE SHOWN AS BUT TEMPORARILY</li>
                                <span style="color: crimson;">***</span><li>13% Commision charged for this plan</li>
                            </ul>
                            <a href="{{ url_for('payment_bank', worker_id=worker_id) }}" class="btn-buy">Buy Now</a>
                        </div>
                        </div>
            
                        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="box">
                            <h3 style="color: #ff901c;">Business Plan</h3>
                            <div class="price"><sup><i class="fa-solid fa-naira-sign"></i></sup>20000<span> / mo</span></div>
                            <img src="assets/img/pricing-business.png" class="img-fluid" alt="">
                            <ul style="font-size: 12px;">
                                
                                <span style="color: crimson;">***</span><li>TRIAL PLAN</li>
                                <span style="color: crimson;">***</span><li>ONE TIME ACTIVATION PAYMENT</li>
                                <span style="color: crimson;">***</span><li>Reach More Customers Faster</li>
                                <span style="color: crimson;">***</span><li>Enhanced Professional Profile</li>
                                <span style="color: crimson;">***</span><li>PROFILE SHOWN AS BUT TEMPORARILY</li>
                                <span style="color: crimson;">***</span><li>13% Commision charged for this plan</li>
                            </ul>
                            <a href="{{ url_for('payment_bank', worker_id=worker_id) }}" class="btn-buy">Buy Now</a>
                        </div>
                        </div>
            
                        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                        <div class="box">
                            <h3 style="color: #ff0071;">Ultimate Plan</h3>
                            <div class="price"><sup><i class="fa-solid fa-naira-sign"></i></sup>30000<span> / mo</span></div>
                            <img src="assets/img/pricing-ultimate.png" class="img-fluid" alt="">
                            <ul style="font-size: 12px;">
                            <span style="color: crimson;">***</span><li>Get TOP RECOMENDATION</li>
                            <span style="color: crimson;">***</span><li>Get Featured As TOP Service Provider</li>
                            <span style="color: crimson;">***</span><li>Reach More Customers Faster</li>
                            <span style="color: crimson;">***</span><li>Enhanced Professional Profile</li>
                            <span style="color: crimson;">***</span><li>More Income Ptential</li>
                            <span style="color: crimson;">***</span><li>Bonus and 10% Commision</li>
                            
                        </ul>
                            <a href="{{ url_for('payment_bank', worker_id=worker_id) }}" class="btn-buy">Buy Now</a>
                        </div>
                        </div>
            
                        
                    
                </div>
        </div>
  
      </section><!-- End Pricing Section -->
  

        

    <br><br>

    


    

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="{{ url_for('home') }}" class="logo d-flex align-items-center">
              <img src="{{ url_for('static', filename='/assets/img/logo.png')}}" alt="">
              <span>ServiceHub</span>
            </a>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ServiceHub</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script>
    ;
    
    
            window.onload = function() {
                // Your code here
                document.getElementById('modal_button').click()
        };
        
    </script>


<style>
  @media (max-width: 768px) {
        h2{
          text-align: center !important;
          align-items: center !important;
          margin-left: 150px !important;
        }

        p{
          width: 300px !important;
          text-align: center !important;
          align-items: center !important;
          margin-left: 25px !important;
        }
  }
</style>















<script>

    let btn = document.getElementsByClassName("btn--choose")
           let card = document.getElementsByClassName("card")
           for (let i = 0; i < btn.length; i++) {
               btn[i].onclick = function () {
                   var ele = card[0]
                   while (ele) {
                       if (ele.tagName == "DIV") {
                           ele.classList.remove("active")
                       }

                       ele = ele.nextSibling
                   }
                   card[i].classList.add("active")

               }
           }
</script>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>