{% extends "layout.html" %}
{% block content %}

<div class="my-div"> 
    <h2 class="my-h2">Please Leave A Review</h2>
    <div class="form-box "> 
        <form action="{{ url_for('reviews', worker_id=worker_id) }}" method="POST" class="my_form">
            <label for="uname"> <i class="fa fa-solid fa-user"></i>&nbsp;Name</label><br>
            <input class="one"  type="text" id="uname" name="name" required value="{{current_user.name}}"> <br>
            <label for="email"><i class="fa fa-solid fa-envelope"></i>&nbsp;Email Address</label><br>
            <input  class="one" type="email" id="email"name="email" required value="{{current_user.email}}"><br> 
            <label for="phone"><i class="fa-solid fa-phone"></i>&nbsp;Phone No</label><br>
            <input class="one"  type="tel" id="phone"name="phone" required value="{{current_user.phone_number}}"><br>
            
            <label> 
                <i class="fa-solid fa-face-smile"></i> 
                Do you satisfy with our service? 
            </label> 
            
            <div class="radio-group"> 
                <input class="two" type="radio" id="yes" 
                       name="satisfy" value="yes" checked> 
                <span class="yes"><label for="yes">Yes</label></span> 
  
                <input class="three" type="radio" id="no" 
                       name="satisfy" value="no"> 
                <span class="no"><label for="no">No</label></span> 
            </div>

            <label for="msg"> 
                Please tell us your observations: 
            </label> <br>
            <textarea class="four" name="msg" id="" cols="30" rows="10" required>

            </textarea> <br>
            <input type="hidden" name="worker_id" value="{{ worker_id }}">
            <button class="my-btn" type="submit"> 
                Submit 
            </button> <br><br><br>

  
  
            
        </form>
        
    </div> 
</div> 

<style>
    @media(max-width: 768px){

        .my-h2{
            text-align: center;
            align-items: center;
            font-weight: 700;
            margin-bottom: -40px;
        }

        .my_form{
            /* border: 1px solid red; */
            margin-top: 50px;
        }

        label{
            margin-top: 30px;
            font-size: 15px;
            margin-left: 35px;
        }

        .one{
            margin-left: 35px;
            width: 270px;
            height: 40px;
            margin-top: 5px;
            border: 1px solid gainsboro;
            border-radius: 7px;
            padding-left: 10px;
            padding-left: 10px;


        }

        .two{
            margin-left: 35px;
            padding-left: 10px;

        }

        .yes{
            margin-left: 35px;
            position: absolute;
            left: 0;   
            margin-left: -5px;    
            margin-right: -20px;
            margin-left: 20px;   
        }

        .three{
            margin-left: 70px;
        }

        .no{
            margin-left: 35px;
            position: relative;
            margin-left: -30px;
        }

        .radio-group{
            margin-top: -30px;
        }

        .four{
            margin-left: 35px;
            width: 270px;
            height: 100px;
            margin-top: 5px;
            border: 1px solid gainsboro;
            border-radius: 7px;
            padding-left: 10px;
            padding-top: 5px;
        }

        button{
            margin-left: 130px;
            padding: 5px;
            margin-top: 10px;
            width: 100px;
            border-radius: 5px;
            background-color: gainsboro;
            color: black;
            border: none;
            

        }


    }
</style>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>



<style>

    


</style> 
{% endblock content %}
