{% extends "layout.html" %}

{% block content %}


<br><br>

<img src="{{ url_for('static', filename='/assets/img/doctor 2.jpg')}}" alt="" class="img1">
<div class="sign_up">
            <h2 style="font-weight: 900;">Sign Up</h2><span style="color: rgb(80, 112, 219); " class="serve">To find service</span><br><br>
            
            <form action="{{ url_for('signup_user') }}" method="POST"  enctype="multipart/form-data">
                <input type="file" id="profilePicture" style="display: none;">
                <img {% if current_user.profile_picture %} src="{{ current_user.profile_picture }}" {% else %} src="{{ url_for('static', filename='/assets/img/default.png') }}" {% endif %} alt="Profile Picture" class="rounded-circle article-img mt-4 profile_pic" id="display_picture" style="width: 120px; height: 120px; border-radius: 50%; margin-left: 100px; cursor: pointer;">
            </form>


            <input type="file" id="profilePicture" name="profile_picture" accept="image/*" class="d-none"><br><br>
                
            <label for="name">Full Name</label><br>
            <input type="text" id="name" name="name" required placeholder="Enter Full Name"><br><br>
            
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" required placeholder="Enter Email Address"><br><br>
            
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required placeholder="Create Password"><br>
            <div id="passwordError" style="color: red; font-size: 1px;"></div> <!-- Display password error message -->

            <input type="checkbox" id="showPasswordCheckbox" style="width: 15px; height: 15px; margin-top: 15px;" class="check">
            <label for="showPasswordCheckbox" class="pass" >View Password</label><br><br>


            <label for="phone_number">Phone</label><br>
            <input type="text" id="phone" name="phone_number" required placeholder="Enter Phone Number"><br><br>
            
            <label for="country">Country</label><br>
            <input type="text" id="country" name="country" required placeholder="Enter Country"><br><br>

            <label for="state">State</label><br>
            <input type="text" id="state" name="state" required placeholder="Enter State"><br><br>

            <label for="local_govt">Local Government</label><br>
            <input type="text" id="local_govt" name="local_govt" required placeholder="Enter Local Government"><br><br>

            <label for="address">Address</label><br>
            <input type="text" id="address" name="address" required placeholder="Enter Address"><br><br>
            
            <center>

                <p class="terms">By creating an account, you agree to our <a href="#">terms and conditions</a> including our <a href="#">privacy policy</a>.</p>
            </center>
                
            <button type="submit">Create Account</button>
            <center>

                <strong><p class="account">Have an account already? <a href="{{ url_for('login_for_user')}}"  >Log In</a></p></strong>
            </center>
        </form>
    </div>

<style>

    .sign_up{
        margin-top: 100px;
        margin-left: 950px;
        height: auto;
        margin-bottom: 50px;
        font-family: poppins;
        
    }

    input{
        width: 350px;
        height: 40px;
        border-radius: 5px;
        /* border: 0.5px thin rgb(77, 76, 76); */
        border: none;
        padding: 10px;
        background-color: whitesmoke;
    }

    .terms{
        width: 300px;
        font-size: 7px;
        margin-right: 400px;
        margin-left: 25px;
    }

    button{
        width: 350px;
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        background-color: rgb(80, 112, 219);
        border: none;
        color: white;
    }

    p{
        width: 300px;
        font-size: 7px;
        margin-right: 400px;
        margin-top: 10px;
        margin-left: 25px;

    }

    .img1{
        width: 40rem;
        /* height: 700px; */
        position: fixed;
        z-index: -1;
        margin-left: 200px;
        /* margin-top: 200px; */
    }

    @media (max-width: 768px) {
        .img1{
            display: none;
        }

        .sign_up{
        margin-top: -50px;
        margin-left: 0px;
        height: auto;
        margin-bottom: 50px;
        font-family: poppins;
        
    }

    input{
        width: 300px;
        height: 30px;
        border-radius: 5px;
        /* border: 0.5px thin rgb(77, 76, 76); */
        border: none;
        padding: 10px;
        background-color: whitesmoke;
        margin-left: 35px;
        font-size: 10px;
    }

    p{
        width: 300px;
        font-size: 5px;
        margin-right: 350px;
        margin-top: 10px;
        margin-left: 30px;

    }

    label{
        margin-left: 35px;
        font-size: 10px;
    }

    .profile_pic{
        margin-left: 140px !important;
        width: 80px !important;
        height: 80px !important;
    }

    .pass{
        margin-left: -00px !important;
        font-size: 10px !important;
    }

    .check{
        width: 10px !important;
        height: 10px !important;
    }

    .terms{
        width: 300px;
        font-size: -3px !important;
        margin-right: 400px;
        margin-left: 25px;
    }

    button{
        width: 300px;
        height: 30px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px;
        border-radius: 5px;
        background-color: rgb(80, 112, 219);
        border: none;
        color: white;
        margin-left: 35px;
    }

    .account{
        font-size: 10px !important;
    }

    a{
        font-size: 10px !important;
    }

    h2{
        text-align: center;
        align-items: center;

    }

    .serve{
        text-align: center;
        align-items: center;
        margin-left: 130px !important;

    }

}

</style>


<script>
    const passwordInput = document.getElementById("password");
    const passwordError = document.getElementById("passwordError");

    passwordInput.addEventListener("input", function() {
        const password = passwordInput.value;
        let errorMessage = "";

        // Validate password length
        if (password.length < 8) {
            errorMessage += "*Password must be at least 8 characters long.<br>";
        }

        // Validate for uppercase letter
        if (!/[A-Z]/.test(password)) {
            errorMessage += "*Password must contain at least one uppercase letter.<br>";
        }

        // Validate for special characters !~!@#$%^&*()_+- only
        if (!/[.,?><*/\-=_+)(*&^%$#@!~`|\\]/.test(password)) {
            errorMessage += "*Password must contain at least one special character";
        }

        // Display error message
        passwordError.innerHTML = errorMessage;
    });
</script>

<script>
    // JavaScript
    profile_icon = document.getElementById("display_picture");
    profile_upload = document.getElementById("profilePicture");

    profile_icon.addEventListener("click", function() {
        profile_upload.click();
    });

    profile_upload.addEventListener("change", function() {
        const selectedFile = this.files[0];
        if (selectedFile) {
            // Update the src attribute of the image element with the URL of the selected file
            profile_icon.src = URL.createObjectURL(selectedFile);
        }
    });
</script>

<script>
    document.getElementById("showPasswordCheckbox").addEventListener("change", function() {
        var passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    });
    </script>
{% endblock content %}

